<mat-card style="min-height: 250px;">
  <mat-card-content>
    <app-back-button-component></app-back-button-component>
    <form><button mat-raised-button color="warn" (click)="deleteHotel()"><mat-icon>delete</mat-icon> Delete Hotel</button></form>
    <mat-tab-group>
      <mat-tab label="Edit Hotel">
        <hr/>
        <form [formGroup]="hotelForm" (ngSubmit)="saveHotel(hotelForm)" novalidate>
          <mat-card>

            <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <input matInput  placeholder="Hotel Name" formControlName="HName">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <input matInput  placeholder="Hotel Checkin" formControlName="HCheckin">
                  </mat-form-field>
                </div>
                <div class="col"> 
                  <mat-form-field class="example-full-width">
                    <input matInput  placeholder="Hotel Checkout" formControlName="HCheckout">
                  </mat-form-field>
                </div>
            </div>

          </mat-card>
          <mat-card>

            <mat-form-field class="example-full-width">
              <input matInput  placeholder="Hotel Contact" formControlName="HContact">
            </mat-form-field>

          </mat-card>
          <mat-card>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Hotel Address" formControlName="HAddress"></textarea>
            </mat-form-field>

          </mat-card>
          <mat-card>
            <mat-form-field class="example-full-width">
              <input matInput  placeholder="Hotel Location" formControlName="HLocation">
            </mat-form-field>

          </mat-card>
          <mat-card>
            <mat-form-field class="example-full-width">
              <input matInput  placeholder="Hotel Phone" formControlName="HPhone">
            </mat-form-field>

          </mat-card>
          <mat-card>
            <mat-form-field class="example-full-width">
              <input matInput  placeholder="Hotel Email" formControlName="HEmail">
            </mat-form-field>

          </mat-card>
          <mat-card>
            <button mat-raised-button>Save</button>
          </mat-card>
        </form>

      </mat-tab>
      <mat-tab label="Add to Category">
        <app-hotelcategories [hid]="id"></app-hotelcategories>
      </mat-tab>
       <mat-tab label="Add Room Type">
        <app-hotelroomtypes [hid]="id"></app-hotelroomtypes>
      </mat-tab>
       <mat-tab label="Add Transportation">
        <app-transportation  [hid]="id"></app-transportation>
      </mat-tab>
    </mat-tab-group>    
    
  </mat-card-content>
</mat-card>