<mat-card>
  <mat-card-content>
    <div>
      <h4> Click the WRAS logo below to begin a new online application</h4>
      
      <br>
      <form method="post" action="http://nsfaaws6.nsf.org/online_application_v2/open_file.php">
        <input type="hidden" name="new_application" value="yes">
      
        <input type="image" src="http://nsfaaws6.nsf.org/lab_control_v2/images/WRAS-app.gif" width="150" style="border-width: 1px" title="Apply for WRAS Product Approval">
      </form>
      <h5>
        <br>Or
        <br>
        <a href="http://nsfaaws6.nsf.org/downloads/wras_f2_february_2014_v8.0.doc">Click Here</a> to download the latest WRAS Application Form and email it to your Account Manager or to
        <a href="mailto:nsfwrc@nsf.org">nsfwrc@nsf.org</a> once completed.</h5>
    </div>
  </mat-card-content>
</mat-card>
