<mat-card>
  <mat-card-content>
    <h2>Fitting(s) Details</h2>
    <hr/>    
   <form [formGroup]="page1Form" (ngSubmit)="savePage1()" novalidate>
      <mat-card>
        <label>Product Type*</label>        
        <br/>
        <mat-form-field [style.width]="'140px'" >
          <mat-select placeholder="Please Select the Fitting type from the below list" formControlName="fittingType" >
            <mat-option *ngFor="let fitting of fittings" [value]="fitting.value">
              {{ fitting.fitting_type }}- {{fitting.fitting_subtype}}
            </mat-option>
          </mat-select>
        </mat-form-field>&nbsp;<span *ngIf="page1Form.value.fittingType">{{fittings | filterResult:page1Form.value.fittingType}}</span>
        <br/>
        <i>
          If you have products which fit in more than one of the above categories they will need to be submitted as separate applications,
          this does not include sub components as these are considered part of the primary application.</i>
      </mat-card>
      <mat-card>
        <label>Fitting(s) name(s)</label>
        <br/> What are all model numbers, product names and product codes for which approval is sought?
        <i>
          <br/>
          <font color="red">
            To help with sample selection, if applicable, please provide a
            <u>brief</u> explanation of the differences between the models.
          </font>
          <br/>The information provided here will form the basis of any subsequent approval documentation, the Scheme does not grant
          approvals for generic model names e.g. Brass compression fitting
          <br/>
        </i>
        <br/>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Model numbers of fittings to be approved" formControlName="fittingsName"></textarea>
        </mat-form-field>
        <br/>
      </mat-card>
      <mat-card [formGroup]="page1Form">
        <b>
          <u>WRAS Approval Status</u>
        </b>
        <br/>
        <mat-radio-group class="example-radio-group" formControlName="approvalStatus" >
          <mat-radio-button class="example-radio-button" *ngFor="let item of wrasApprovalStatus" [value]="item.value"> {{item.title}} </mat-radio-button>
        </mat-radio-group>
        
        <br/>
        <mat-form-field class="example-full-width">
          <input matInput name="previous_approval" placeholder="Most Recent WRAS Approval Number (if applicable)" value="">
        </mat-form-field>
      </mat-card>
      <mat-card>
        <b>
          <u>Production Status</u>
        </b>
        <br/> What is the current manufacturing status of the product?
        <br/>
        <mat-radio-group class="example-radio-group" formControlName="productionStatus">
          <mat-radio-button class="example-radio-button" [value]="'production'"> Production </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'pre_production'"> Pre-production </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'prototype'"> Prototype </mat-radio-button>
        </mat-radio-group>
      </mat-card>
      <mat-card>
        <i>For pre-production and prototype samples additional testing of the production sample may be required before the approval
          is granted.</i>
      </mat-card>
      <mat-card>
        <button mat-raised-button>Next</button>
      </mat-card>
   </form>
  </mat-card-content>
</mat-card>
