

<mat-list>
  <mat-list-item> 
<button mat-raised-button (click)="newsMarkingClarification()">NEW- WRAS marking clarification</button>
    
  </mat-list-item>
  <mat-list-item> 
<button mat-raised-button (click)="newsLeadTime()">Lead times for sample testing</button>

   </mat-list-item>
  <mat-list-item> 
<button mat-raised-button (click)="newsModification()">Modification and Addition applications</button>
   
  </mat-list-item>
  <mat-list-item> 
    <button mat-raised-button (click)="onlineappLive()">Online Application System Goes Live</button>

  </mat-list-item>
</mat-list>