
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-card>
  <button mat-raised-button color="accent" (click)="handleNewApps('hotels')">Manage Hotels({{hotelCount}})</button>
</mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
  <button mat-raised-button color="accent" (click)="handleNewApps('categories')">Manage Categories</button>
</mat-card>
    </div>
    <div class="col-sm">
       <mat-card>
  <button mat-raised-button color="accent" (click)="handleNewApps('roomtypes')">Manage Roomtypes</button>
</mat-card>
    </div>
    <div class="col-sm">
        <mat-card>
  <button mat-raised-button color="accent" (click)="handleNewApps('transportation')">Manage Roomtype</button>
</mat-card>
    </div>
  </div>
</div>