<mat-card>
  <app-back-button-component></app-back-button-component>
  <form [formGroup]="transportForm" (ngSubmit)="addTransport(transportForm)" novalidate>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Transport Type" formControlName="TName" >
    </mat-form-field>
    <button mat-icon-button color="warn" ><mat-icon>add</mat-icon></button>
  </form>
  <h4>Manage Transports</h4>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="datasource">
      <!-- Name Column -->
      <ng-container matColumnDef="Transport Name">
        <mat-header-cell *matHeaderCellDef> Transport Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.TName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <form><button mat-icon-button color="warn" (click)="deleteTransport(element.id)"><mat-icon >clear</mat-icon></button></form>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</mat-card>