<div class="container-fluid" >

<mat-toolbar color="primary">
<span>Bookings Manager</span>
<span class="example-spacer"></span>
  <span>
      <button mat-raised-button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>view_headline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleNavigation('logout')">Log Out</button>
      </mat-menu>
  </span>
</mat-toolbar>
  <hr/>
    <router-outlet></router-outlet>
</div>

