<div class="container-fluid" >

<mat-toolbar color="primary">
<span>Bookings Manager</span>
<span class="example-spacer"></span>
  <span *ngIf="isLoggedIn">
      <button mat-raised-button mat-icon-button  [matMenuTriggerFor]="menu">
        <mat-icon color="primary">view_headline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="userLogout()">Log Out</button>
      </mat-menu>
  </span>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="load == true"></mat-progress-bar>
  <hr/>
  <mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened *ngIf="isLoggedIn">
      <mat-card>
        <mat-nav-list color="primary">
          <a mat-list-item routerLink="/hotels" color="primary"> <mat-icon>edit</mat-icon> Hotels </a>
          <a mat-list-item routerLink="/categories" color="primary"> <mat-icon>edit</mat-icon> Categories </a>
          <a mat-list-item routerLink="/roomtypes" color="primary"> <mat-icon>edit</mat-icon> Roomtypes </a>
          <a mat-list-item routerLink="/transports" color="primary"> <mat-icon>edit</mat-icon> Transports </a>
          <a mat-list-item routerLink="/clients" color="primary"> <mat-icon>edit</mat-icon> Clients </a>
        </mat-nav-list>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
    
</div>

