<mat-card style="margin-left:5px;">

<h4>Manage Hotels </h4>
<mat-card-content>
  <div class="example-container mat-elevation-z8" style="padding:5px;">
    <button mat-raised-button (click)="startNew()" color="warn">
      <mat-icon>add</mat-icon> Add New Hotel
    </button>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select Category" [(ngModel)]="categorySel" (change)="filterHotels()">
          <mat-option [value]="">All</mat-option>
          <mat-option *ngFor="let cat of categories" [value]="cat.CName">
            {{ cat.CName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
  
  
      <!-- Name Column -->
      <ng-container matColumnDef="Hotel Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-exs-am [id]="element.id" [title]="element.HName"></app-exs-am>
        </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Hotel Contact">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Contact </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.HContact}}
        </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Hotel Address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Address </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.HAddress}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Hotel Phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Phone </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.HPhone}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Hotel Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Email </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.HEmail}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Hotel Location">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Location </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.HLocation}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Create Template">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ... </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="hotelTemplate(element.id)">
            <mat-icon>vertical_split</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</mat-card-content>
</mat-card>
