<app-back-button-component></app-back-button-component>
<p *ngIf="typeNews == 'nsfclarification'">
   TEST CODE SHEET-WRAS CLARIFICATION
  <br>
  <br>In the UK, as you might be aware, water undertakers are responsible for enforcement of the Water Supply (Water Fittings)
  Regulations, Byelaws in Scotland. As part of their enforcement activity, water suppliers have raised concerns with the Scheme
  about the identification of markings on WRAS approved products. To ensure that all WRAS approved products are readily identifiable
  when installed the WRAS Product Assessment Group (PAG) has been considering the requirements of Regulators’ Specification
  Test Code Sheet (TCS) 6001.1 ‘identification’.
  <br>
  <br>Recognising the need to provide clear guidance that sets out the Scheme’s marking requirements the PAG has developed a clarification
  document. Furthermore having completed a consultation process the Scheme has agreed that with effect from 1st July 2015 it
  will be a mandatory requirement that all new applications seeking approval for products which require marking will have to
  demonstrate compliance with the marking requirements as defined in the attached clarification document.
  <br>
  <br>The following information corresponds to the mentioned clarification issued recently by WRAS to the test code sheet 6001.1.
  This information should be read in conjunction with the below Test Code Sheet 6001.1 (pages 2 to 4 of the current document).
  It is intended to aid the test laboratories and manufacturers in clarifying the test and acceptance criteria requirements.
  <br>
  <br>NOTE: This clarification applies to TCS 6001.1 Issue 7 Clause (A)
  <br>
  <br>_________________________________________________________________________________________
  <br>
  <br>
  <br>ACCEPTANCE CRITERIA
  <br>
  <br>All marking must be readily visible and distinguishable after installation and on an external surface. For concealed fittings,
  the marking must be visible when exposed for maintenance, repair or inspection.
  <br>
  <br>Note: Where approval is sought for a component which is to be installed within a larger fitting/assembly, e.g. check valve
  cartridge or tap headwork, the marking must still be present but it does not need to be visible after assembly and installation.
  <br>
  <br>The identification mark must not be easily removed. Accepted methods are etched, cast, printed, moulded, embossed or data
  plate. These are examples of more commonly used marking types, but the list provided should not be regarded as exhaustive.
  <br>
  <br>The mark must include reference to the manufacturers or factors name or company logo.
  <br>
  <br>In addition the WRAS approval holder may choose to add, but is not compulsory, the range or model name and the WRAS Approved
  product logo or WRAS approved.
  <br>Date of Implementation: July 1st 2015
  <br>Applications submitted to the test laboratory on or after this date must meet requirements highlighted above when read in
  conjunction with TCS 6001.1
  <br>
  <br>
  <br>Revision History
  <br>No. Page No.s Rev. No. Description of Change Author Effective Date
  <br>1
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>WATER REGULATIONS ADVISORY SCHEME
  <br>Issue 1: December 2014
  <br>
  <br>
  <br>WRc Evaluation &amp; Testing Centre Ltd
  <br>Test Code Sheet Number 6001/1
  <br>
  <br>WRAS TEST &amp; ACCEPTANCE CRITERIA Issue No: 7
  <br> Date of issue: July 2000
  <br>
  <br> Sheet 1 of 3
  <br>
  <br>
  <br>TEST CODE SHEET
  <br>_______________________________________________________________________________________________________
  <br>
  <br>1. TYPE OF TEST(S)
  <br>
  <br> Marking for identification.
  <br>
  <br>2. WATER REGULATIONS REQUIREMENTS FOR FITTINGS
  <br>
  <br> Schedule 2
  <br>
  <br> 3 - (1) No person shall (a) instal a water fitting to convey or receive water supplied by a water undertaker, or alter,
  disconnect or use such a water fitting; or (b) cause or permit such a water fitting to be installed, altered, disconnected
  or used, in contravention of the regulations.
  <br>
  <br> NOTE It follows that any persons shall be able to identify any water fitting proposed to be used to ensure that both
  <br> the fitting, and the manner of its installation, shall meet the requirements of the regulations. Other specific regulations
  requiring the marking of installation requirements are detailed below in the criteria.
  <br>
  <br>3. BRITISH STANDARDS OR WATER SPECIFICATION, DEEMED TO SATISFY WATER REGULATIONS REQUIREMENTS
  <br>
  <br>3.1 Fittings with ‘kitemarks’ which are deemed to satisfy the requirements of regulations are listed in the directory.
  <br>
  <br>4. TEST PROCEDURE
  <br>
  <br>4.1 Tests applicable to the following fittings:-
  <br>
  <br> ALL FITTINGS
  <br>_____________________________________________________________________________
  <br>
  <br>(A) ALL FITTINGS
  <br>
  <br> TEST METHOD
  <br>
  <br> Every fitting and appliance shall be examined to establish that it is marked, labelled or plated in an appropriate manner
  <br>to enable its course, purpose, application and manner of installation to be identified.
  <br>
  <br>5. ACCEPTANCE CRITERIA
  <br>
  <br> The mark, label or plate shall include reference to the manufacturer or factor and any other information necessary to enable
  it to be clearly identified. Certain fittings and appliances shall include other information in the marking or on
  <br> the label or plate (see overleaf),
  <br>
  <br> The identification mark shall be made on, or the label or plate attached to, the fitting or appliance where it will be accessible
  after installation so far as is reasonably practicable.
  <br>
  <br> Marking shall be of an appropriate permanent nature by means of acid etching, embossing, rolling-in, stamping, a soldered-on
  plate etc.
  <br>_______________________________________________________________________________________________________
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>Test Code Sheet Number 6001/1
  <br>
  <br>Issue No: 7
  <br> Date of issue: July 2000
  <br>
  <br> Sheet 2 of 3
  <br>_______________________________________________________________________________________________________
  <br>
  <br>
  <br>(B) BRASS FITTINGS
  <br>
  <br>5. ACCEPTANCE CRITERIA
  <br>
  <br> Brass fittings made of dezincification resistant brass shall be marked “CR‿.
  <br>_______________________________________________________________________________________________________
  <br>
  <br>(C) CISTERNS, TANKS, CYLINDERS
  <br>
  <br>5. ACCEPTANCE CRITERIA
  <br>
  <br> Every cistern, tank, cylinder, expansion vessel etc, shall be marked or labelled to indicate the capacity.
  <br>
  <br> Every tank, cylinder, expansion vessel etc, shall be marked or labelled to indicate the maximum working water
  <br> pressure to which it may be subjected.
  <br>
  <br> Every flushing cistern or trough for use with a watercloset pan shall be marked indelibly on the inside with a line indicating
  the water level at which the float-operated valve is to shut off to give the appropriate volume of water for flushing purposes.
  [Regulation 25 - (1) (f)]
  <br>_______________________________________________________________________________________________________
  <br>
  <br>(D) TUBES AND PIPE
  <br>
  <br>5. ACCEPTANCE CRITERIA
  <br>
  <br> Tube and pipe of every material to an applicable standard deemed to satisfy byelaw requirements shall be marked in accordance
  with the requirements of that standard. Copper tube to BS 2871 Part 1 additionally shall be marked with
  <br> the month and year of manufacture adjacent to each marking required by that standard.
  <br>
  <br> Tube and pipe of every material otherwise shall be marked permanently by a means (not labelled) at intervals not exceeding
  500mm with the type and/or class of material, the manufacturers means of identification and the year of manufacture.
  <br>______________________________________________________________________________________________________
  <br>
  <br>(E) REDUCED PRESSURE PRINCIPLE BACKFLOW PREVENTERS (RPZ VALVES)
  <br> (Derived from Doc. prEN doc. 164108)
  <br>
  <br>5. ACCEPTANCE CRITERIA
  <br>
  <br> Backflow protection devices shall be marked permanently and visibly on the casing, or on a fixed data plate.
  <br>
  <br> This information shall be on the upperside, or on each lateral side of the device. The indications are to be indelible
  <br> and obtained by moulding, engraving or similar procedures.
  <br>
  <br> (a) Name, manufacturer’s brand or logo.
  <br> (b) Arrow indicating normal direction of flow.
  <br> (c) Nominal size (DN).
  <br> (d) Conformance with the appropriate European product standard.
  <br> (e) Acoustic group.
  <br> (f) Nominal pressure (PN).
  <br> (g) Reference (type or model...)
  <br> (h) Type of materials used for the body. (DZR mark where applicable).
  <br> (i) The individual identification number.
  <br>______________________________________________________________________________________________________
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>Test Code Sheet Number 6001/1
  <br>
  <br>Issue No: 7
  <br> Date of issue: July 2000
  <br>
  <br> Sheet 3 of 3
  <br>_______________________________________________________________________________________________________
  <br>
  <br>
  <br>(F) WC SUITES
  <br> (Derived from The Regulators Spec. for WC Suites: March 2000)
  <br>
  <br>5. ACCEPTANCE CRITERIA
  <br> Every flushing cistern or trough for use with a water closet pan shall be marked with the following;
  <br>
  <br> (i) The pan and cistern shall have a manufacturers identification / model number permanently
  <br>marked in such a position that it will be readily visible once the suite is installed.
  <br>
  <br> (ii) The inside of the cistern shall be indelibly marked with:
  <br>
  <br> (a) a permanent mark indicating the water level at which the float operated valve is to shut off to give the
  <br> appropriate volume of water for flushing purposes.
  <br>(b) an indication of the flush volume.
  <br>
  <br>For flushing cisterns designed to give flushes of different volumes, there shall be instructions clearly and permanently
  marked on the cistern or displayed nearby, for operating it to obtain the different volumes of flush.
  <br>
</p>

<mat-card *ngIf="typeNews=='leadtimes'">
  <p>
     Dear Customers,
    <br>Please be aware that our awaiting test list for test samples to be picked up for test is currently running at around 5-7
    days so as soon as you receive the sample request and invoice from us, it is to your benefit to get samples to us a.s.a.p.
    <br>Please makes sure any samples sent are labelled with the allocated sample number.
    <br>
    <br>Best Regards
    <br>Jonathan Price- Unit Manager- Product Approvals
  </p>
</mat-card>

<mat-card *ngIf="typeNews=='modificationaddition'">
   Please be aware that WRAS have changed the process for modification and addition applications, They can no longer be done
  internally between us and WRAS and require to be presented to a PAG meeting, The PAG meetings are held every four weeks.
  If you have any further questions on this please feel free to call us on 01495 236260
</mat-card>

<mat-card *ngIf="typeNews=='onlineapplive'">
<div>
   Dear valued customer,
  <br>
  <br>
  <br>We are excited to announce the launch of our NEW online application system for WRAS approvals. From today you will be able
  to take advantage of the key features that this system offers, such as:-
  <br>
  <ul>
    <br>
    <li>Seamless linking to your existing PAMS account;</li>
    <br>
    <li>Significant reduction in turnaround times; </li>
    <br>
    <li>Automated WRAS approval verification for materials and components; </li>
    <br>
    <li>Tailored applications to capture product specific information and reduce unnecessary questions; </li>
    <br>
    <li>Reduction in ‘last minute’ questions; </li>
    <br>
    <li>Automated version control; </li>
    <br>
    <li>Issues now highlighted directly where found in the application, making it much easier to submit amendments; </li>
    <br>
    <li> ‘My favourites’ feature which allows you to save product information and drawings for use in future applications; </li>
    <br>
  </ul>
  <br>This new system can be accessed through the following locations:-
  <br>
  <ul>
    <br>
    <li>The NSF-WRc website:
      <a href="http://www.nsfwrc.com">www.nsfwrc.com</a> (orange button in top right hand corner);</li>
    <br>
    <li>The ‘Submit New Application’ button in your exiting PAMS account;</li>
    <br>
    <li>Via the following link:
      <a href="http://www.nsfwrc.com/online_application">www.nsfwrc.com/online_application</a>
    </li>
    <br>
  </ul>
  <br>When making your first submission you will be taken through a live interactive training session with a member of our Project
  Management Team. Alternatively, a one to one training session can be arranged at either your facility or ours.
  <br>
  <br>
  <br>
  <br>Call a member of our Project Management Team on 01495 236 260 if you require further information.
  <br>
</div>
</mat-card>