<mat-card>
<mat-card-title>
<app-back-button-component></app-back-button-component>
  {{title}}

</mat-card-title>
<mat-card-content>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Sample Number">
        <mat-header-cell *matHeaderCellDef>Sample Number </mat-header-cell>
        <mat-cell *matCellDef="let element">
         <app-sample-component [sample]="element.sample_number" [passcode]="element.passcode"></app-sample-component>
        </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-status-component [display]="element.display" [filestatus]="element.filestatus" [hasissues]="element.hasissues"></app-status-component>
        </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Product Description">
        <mat-header-cell *matHeaderCellDef> Product Description </mat-header-cell>
        <mat-cell *matCellDef="let element">
         <app-product-desc-component [prod_description]="element.prod_description" [prod_description_short]="element.prod_description_short"></app-product-desc-component>
        </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Company">
        <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.company}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Next Step">
        <mat-header-cell *matHeaderCellDef> Next Step </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.next_step}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Due Date">
        <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-due-date-component [title_1]="element.title_1" [due_date]="element.due_date"></app-due-date-component>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Over Due">
        <mat-header-cell *matHeaderCellDef> Over Due </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-overdue-component [overdue]="element.overdue" [due_date]="element.due_date" [due]="element.due" [next_step]="element.next_step"></app-overdue-component>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="View Status">
        <mat-header-cell *matHeaderCellDef> View Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-viewstat-component 
              [contact_email]="element.contact_email" 
              [email]="element.email" 
              [extra_contact_access]="element.extra_contact_access" 
              [unique_app_id]="element.unique_app_id" 
              [comments]="element.comments"
              [sample_number]="element.sample_number">
          </app-viewstat-component>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Comments">
        <mat-header-cell *matHeaderCellDef> Due Dates </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-view-notes [sample]="element.sample_number"></app-view-notes>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</mat-card-content>
</mat-card>

