<mat-card style="margin-left:5px;">

  <h4>Manage Customers </h4>
  <mat-card-content>
    <div class="example-container mat-elevation-z8" style="padding:5px;">
      <button mat-raised-button color="warn" (click)="AddCustomer()">
        <mat-icon>add</mat-icon> Add New Customer
      </button>
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="First Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.CFirstname}}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Last Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.CLastname}}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Customer Address">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Address </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.CAddress}}{{element.CAddress2}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Customer Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Email </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.HPhone}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Customer Phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Phone </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.CPhone}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Guests">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Guests </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.CNGuests}}
          </mat-cell>
        </ng-container>

        

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>