<mat-card>
  <mat-card-content>
    <app-back-button-component></app-back-button-component>
    <h2>Add Hotel</h2>
    <hr/>
    <form [formGroup]="addHotelForm" (ngSubmit)="saveHotel(addHotelForm)" novalidate>
      <mat-card>

        <mat-form-field class="example-full-width">
          <input matInput name="previous_approval" placeholder="Hotel Name" formControlName="HName" value="">
        </mat-form-field>

      </mat-card>
      <mat-card>

        <mat-form-field class="example-full-width">
          <input matInput name="previous_approval" placeholder="Hotel Contact" formControlName="HContact" value="">
        </mat-form-field>

      </mat-card>
      <mat-card>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Hotel Address" formControlName="HAddress"></textarea>
        </mat-form-field>

      </mat-card>
      <mat-card>
        <mat-form-field class="example-full-width">
          <input matInput name="previous_approval" placeholder="Hotel Location" formControlName="HLocation" value="">
        </mat-form-field>

      </mat-card>
      <mat-card>
        <mat-form-field class="example-full-width">
          <input matInput name="previous_approval" placeholder="Hotel Phone" formControlName="HPhone" value="">
        </mat-form-field>

      </mat-card>
      <mat-card>
        <mat-form-field class="example-full-width">
          <input matInput name="previous_approval" placeholder="Hotel Email" formControlName="HEmail" value="">
        </mat-form-field>

      </mat-card>
      <mat-card>
        <button mat-raised-button>Save</button>
      </mat-card>
    </form>
  </mat-card-content>
</mat-card>